/* Background for the landing page */
.root {
  -fx-background-image: url("/images/landing.gif");
  -fx-background-size: auto;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

/* Style for the main title */
.title-label {
  -fx-text-fill: #ffd900;
  -fx-text-alignment: center;
  -fx-stroke: #000000;
  -fx-stroke-width: 6px;
  -fx-stroke-type: outside;
  -fx-effect: dropshadow(gaussian, #52b3d1, 2, 1.0, 1, 1);
}

/* Style for the play button */
.play-button {
  -fx-background-color: #52b3d1, #ffd900;
  -fx-background-insets: 0, 3;
  -fx-background-radius: 0px;
  -fx-cursor: hand;
  -fx-text-fill: #52b3d1;
}

.play-button:hover {
  -fx-background-color: #52b3d1;
  -fx-text-fill: #ffd900;
}

.play-button:pressed {
  -fx-background-color: #333333;
}